/* Background animation */
.animated-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f3f2ef;
    z-index: -1;
    animation: backgroundAnimation 1.5s ease-in-out infinite alternate;
}

/* SignIn Container */
.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f2ef;
    position: relative;
}

/* Form styling */
.signin-form {
    background: white;
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    text-align: center;
    border: 1px solid #dfe3e8;
}

.signin-form h3 {
    color: #0077b5;
    font-size:23px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

/* Input fields */
.signin-label {
    display: block;
    font-size: 0.9rem;
    color: #555;
    text-align: left;
    margin-bottom: 5px;
}

.signin-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.signin-input:focus {
    border-color: #0077b5;
    outline: none;
}

/* Button styling */
.signin-button {
    width: 100%;
    background-color: #0077b5;
    color: white;
    padding: 12px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signin-button:hover {
    background-color: #005f91;
}

/* Link and text styling */
.signin-text {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #555;
}

.signin-link {
    display: inline-block;
    margin-top: 5px;
    color: #0077b5;
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;
}

.signin-link:hover {
    text-decoration: underline;
}

/* Animation for background */
@keyframes backgroundAnimation {
    0% {
        background-color: #f3f2ef;
    }
    100% {
        background-color: #e1e1e1;
    }
}
